<div class="link-wrapper">
    <style scoped>
      ul.link a {
        color:var(--clr-h1-and-bold);
        text-decoration:none;
      }
      
      ul.link a:hover, a:focus {
        color: var(--clr-a-text-hvr);
      }
    </style>
    <ul class="link">
      <li><a href="{{ '/' | prepend: site.baseurl }}"><i class="fas fa-feather-alt"></i> Home</a></li>
      <li><a href="https://sagungarg.com/2-my-speaker-judge-series"><i class="fas fa-gavel"></i> Speaker</a></li>
      <li><a href="https://sagungarg.com/4-my-bitcoin-story"><i class="fab fa-bitcoin"></i> Bitcoiner</a></li>
      <li><a href="{{ '/blog' | prepend: site.baseurl }}"><i class="fas fa-blog"></i> Blog</a></li>
      <li><a href="{{ '/about' | prepend: site.baseurl }}"><i class="fas fa-user"></i> About Me</a></li>
      <li><a href="https://sagungarg.com/1-previous-startups"><i class="fa-solid fa-business-time"></i> Entrepreneur</a></li>
      <li><a href="https://sagungarg.com/3-angel-investment-portfolio"><i class="fab fa-angellist"></i>Investments</a></li>
      <li><a href="https://sagungarg.com/6-half-marathons"><i class="fas fa-running"></i> Marathons</a></li>
      <li><a href="https://sagungarg.com/5-recommendations"><i class="fas fa-prescription"></i> Recommendations</a></li>
      <li><a href="https://sagungarg.com/8-achievements"><i class="fas fa-medal"></i> Achievements</a></li>
      <!-- <li><a href="{{ '/tags' | prepend: site.baseurl }}"><i class="fas fa-medal"></i> Tags</a></li>
      <li><a href="{{ '/categories' | prepend: site.baseurl }}"><i class="fas fa-feather-alt"></i> Categories</a></li> -->
      <li><a href="https://github.com/sagungargs15"><i class="fab fa-github"></i> GitHub</a></li>
      <li><a href="https://x.com/sagungarg"><i class="fab fa-twitter"></i> X/Twitter</a></li>
      <li><a href="https://sagungarg.com/7-continued-education"><i class="fas fa-user-graduate"></i>Learning</a></li>
      <li><a href="https://scholar.google.com/citations?user=9VVP3B4AAAAJ"><i class="fas fa-user-graduate"></i> Google Scholar</a></li>
    </ul>
  </div>

  <!-- Refer to more fonts here: https://fontawesome.com/search -->
