<div class="link-wrapper">
    <style scoped>
      ul.link a {
        color:var(--clr-h1-and-bold);
        text-decoration:none;
      }

      ul.link a:hover, a:focus {
        color: var(--clr-a-text-hvr);
      }
    </style>
    <ul class="link">
      <li><a href="https://sagungarg.com/previous-startups"><i class="far fa-bookmark"></i> 3 x Startups</a></li>
      <li><a href="https://github.com/sagungargs15"><i class="fab fa-github"></i> GitHub</a></li>
      <li><a href="https://twitter.com/sagungarg"><i class="fab fa-twitter"></i> Twitter</a></li>
      <li><a href="https://sagungarg.com/blog/"><i class="fas fa-feather-alt"></i> Blog</a></li>
      <li><a href="https://scholar.google.com/citations?user=9VVP3B4AAAAJ"><i class="fas fa-user-graduate"></i> Google Scholar</a></li>
    </ul>
  </div>